{% extends "header.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold mb-4">Find a Location</h2>
    <form method="POST" action="{{ url_for('forecast') }}">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="location">
                Enter City, State, or Zip Code
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="location" name="location" type="text" placeholder="e.g., New York, NY or 10001">
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Find Location
            </button>
        </div>
    </form>
</div>

<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold mb-4">About This App</h2>
    <p class="mb-2">This Weather Dashboard app fetches weather data every 15 minutes to provide up-to-date information.</p>
    <p class="mb-2">Use the "Forecast" button to see visualizations of the current weather and forecast.</p>
    <p>Check the "Status" page for the current status of the app and to manually refresh the data.</p>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
